---
import Headline from '@/components/ui/typography/Headline.astro';
import Paragraph from '@/components/ui/typography/Paragraph.astro';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  date: string;
  description: string;
  href: string;
  imagePath?: string;
}

const { title, date, description, href, imagePath = null } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="text-primary-white! flex flex-col gap-1 font-extralight no-underline!"
>
  {
    imagePath && (
      <div class="bg-primary-white mb-4 flex h-48 justify-center rounded-xl p-4">
        <Image src={imagePath} alt={`${title} Logo`} width="200" height="200" />
      </div>
    )
  }
  <Headline level={4} variant="white">
    {title}
  </Headline>
  <Paragraph variant="white" size="sm">
    {date}
  </Paragraph>
  <Paragraph variant="white">
    {description}
  </Paragraph>
  <Paragraph variant="white" class="text-right">
    <span class="underline">Read more...</span>
  </Paragraph>
</a>
