---
import { getEntry } from 'astro:content';

import Container from '../../components/layout/Container.astro';
import PageHeader from '../../components/layout/PageHeader.astro';
import Layout from '../../layouts/Layout.astro';

const companies = await getEntry('community', 'commercial-support');

function shuffleArray(array) {
  // source: https://stackoverflow.com/a/2450976

  let currentIndex = array.length;
  let randomIndex;

  while (currentIndex > 0) {
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;
    [array[currentIndex], array[randomIndex]] = [
      array[randomIndex],
      array[currentIndex],
    ];
  }

  return array;
}
---

<Layout title="Community">
  <PageHeader text="Commercial support" />
  <Container>
    <p class="mt-8 text-center text-xl font-bold">
      Consulting companies are available for professional support.
    </p>
    <p class="mt-2 mb-8 text-center">
      Please <a
        href="https://github.com/NixOS/nixos-homepage/edit/main/core/src/content/community/commercial-support.yaml"
        >submit a pull request</a
      > to add your company. The list is randomized at each page load.
    </p>
    <ul id="company-list" class="invisible m-4 flex flex-row flex-wrap gap-4">
      {
        shuffleArray(companies.data).map((company) => (
          <li class="bg-secondary-afghani-blue-95 grow basis-72 rounded-2xl p-4 xl:basis-80">
            <a
              href={company.href}
              class="text-primary-black! space-y-4 no-underline!"
            >
              <img
                src={company.logo}
                alt={company.name + ' logo'}
                class="bg-trans-white mx-auto h-80 rounded-2xl object-contain p-8"
              />
              <h3 class="text-secondary-afghani-blue text-3xl leading-none font-bold">
                {company.name}
              </h3>
              <ul class="flex flex-wrap gap-2">
                {company.locations.map((location) => (
                  <li class="bg-secondary-afghani-blue-45 text-trans-white rounded-2xl px-3 py-0.5 font-bold">
                    {location}
                  </li>
                ))}
              </ul>
              <p>{company.description}</p>
            </a>
          </li>
        ))
      }
    </ul>

    <noscript>
      <style>
        #company-list.invisible {
          visibility: visible;
        }
      </style>
    </noscript>

    <!-- Client-side JavaScript to shuffle the DOM elements -->
    <script is:client>
      document.addEventListener('DOMContentLoaded', () => {
        function shuffleArray(array) {
          // source: https://stackoverflow.com/a/2450976

          let currentIndex = array.length;
          let randomIndex;

          while (currentIndex > 0) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;
            [array[currentIndex], array[randomIndex]] = [
              array[randomIndex],
              array[currentIndex],
            ];
          }

          return array;
        }

        const ul = document.getElementById('company-list');
        const items = Array.from(ul.children);
        shuffleArray(items).forEach((item) => ul.appendChild(item));
        ul.classList.remove('invisible');
      });
    </script>
  </Container>
</Layout>
