---
import Card from '@/components/layout/Card.astro';
import Button from '@/components/ui/Button.astro';
import { Code } from 'astro:components';

const {
  type = 'logo',
  fillStyle = 'gradient',
  color = 'rainbow',
  fontColor = 'black',
  orientation = 'horizontal',
  style = 'regular',
  variant = 'recommended',
} = Astro.props;

const brandUrl = `https://brand.nixos.org/logos/nixos-${type}-${color}-${fillStyle}-${fontColor}-${style}-${orientation}-${variant}.svg`;
---

<Card>
  <img
    src={brandUrl}
    alt={`${style} styled NixOS ${type} in the ${variant} variant filled with ${fillStyle} ${color} colors in a ${orientation} orientation using a ${fontColor} font`}
    class:list={[
      'w-auto rounded-2xl',
      fontColor === 'white' ? 'bg-primary-black' : 'bg-primary-white',
    ]}
  />
  <div class="mt-1.5 article">
    <Code code={brandUrl} />
  </div>
  <div class="flex w-full justify-end gap-2">
    <Button
      color="semidarkblue"
      size="sm-mobfull"
      href={brandUrl}
      icon="mdi:download"
      label="Download"
    />
  </div>
</Card>
