---
import { Icon } from 'astro-icon/components';
import { getEntry } from 'astro:content';

import Container from '@/components/layout/Container.astro';
import InlineSVG from '@/components/util/InlineSVG.astro';
import Link from '@/components/util/Link.astro';

const footerMenu = await getEntry('menus', 'footer');
---

<footer>
  <div class="bg-nix-blue-darker clear-both font-light text-white">
    <Container>
      <div class="flex flex-col flex-wrap gap-y-8 gap-x-4 py-14 sm:flex-row">
        {
          footerMenu.data.sections.map((menu) => (
            <div class="flex-1 basis-1/2 md:basis-0">
              <h4 class="font-heading text-nix-blue-light mb-4 text-xl font-bold">
                {menu.name}
              </h4>
              <ul class="font-extralight">
                {menu.items.map((item) => (
                  <li class="border-b-1 last:border-b-0 border-nix-blue-dark">
                    <Link class:list={["hover:underline block py-2"]} href={item.link}>{item.name}</Link>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>

      <hr class="border-nix-blue-light" />

      <div
        class="flex flex-col flex-wrap gap-4 py-4 font-extralight lg:flex-row lg:gap-0"
      >
        <div class="flex basis-1/2 gap-2">
          <InlineSVG
            src="/src/assets/image/flake-white.svg"
            class="inline-block h-14 w-14"
          />
          <div class="flex flex-col justify-center">
            <div>
              Copyright © {new Date().getFullYear()} NixOS contributors
            </div>
            <Link
              href="https://github.com/NixOS/nixos-homepage/blob/main/LICENSES/CC-BY-SA-4.0.txt"
            >
              <abbr
                title="Creative Commons Attribution Share Alike 4.0 International"
              >
                CC-BY-SA-4.0
              </abbr>
            </Link>
          </div>
        </div>

        <hr class="border-nix-blue-light lg:hidden" />

        <div
          class="flex basis-1/2 justify-between gap-4 font-extralight lg:justify-end"
        >
          <h4 class="my-auto">Connect with us:</h4>
          <div class="my-auto flex gap-4">
            {
              footerMenu.data.social.map((item) => (
                <Link
                  href={item.link}
                  aria-label={`Connect with us on ${item.name}`}
                >
                  <Icon
                    class="h-5 w-5"
                    name={`simple-icons:${item.name.toLowerCase()}`}
                  />
                </Link>
              ))
            }
          </div>
        </div>
      </div>
    </Container>
  </div>
</footer>
