---
import Card from '@/components/ui/Card.astro';

const {
  title = 'Members',
  isSubteam = false,
  members,
  contact,
  class: extraClasses,
} = Astro.props;

const titleClasses = `text-3xl font-heading font-bold text-nix-blue`;
---

<Card
  as="aside"
  class:list={[
    !isSubteam && 'w-full bg-nix-blue-extralight shadow-none',
    extraClasses,
  ]}
>
  <h2 class={titleClasses}>{title}</h2>

  <ul class="ml-4 mt-2 list-disc">
    {
      members.map((member) => (
        <li class="mb-1 last:mb-0">
          {member.name}
          {member.discourse && (
            <>
              (
              <a href={'https://discourse.nixos.org/u/' + member.discourse}>
                @{member.discourse}
              </a>
              )
            </>
          )}
          {member.github && (
            <>
              (
              <a href={'https://github.com/' + member.github}>
                @{member.github}
              </a>
              )
            </>
          )}
          {member.title && (
            <>
              &mdash;
              {member.title}
            </>
          )}
        </li>
      ))
    }
  </ul>
  {
    contact && (
      <>
        <h2 class="mt-4 font-heading text-3xl font-bold text-nix-blue">
          Contact
        </h2>

        <ul class="ml-4 mt-2 list-disc">
          {contact.map((contact) => (
            <li class="mb-1 last:mb-0">
              <a href={contact.href}>{contact.name}</a>
            </li>
          ))}
        </ul>
      </>
    )
  }
</Card>
