---
interface Props {
  lines: Array<{ shellPrompt: string, code: string }>;
  type?: "code" | "storepath";
}

const { lines, type = "code" } = Astro.props;
---

<pre class:list={[
  "border-1 bg-[#3a3a3a] px-4 py-4 rounded-3xl my-2 mb-4 overflow-x-auto",
  { "bg-[#3a3a3a] text-white": type === "code" },
  { "font-mono font-[500] bg-nix-blue-extralight border-nix-blue-extralight text-black shadow-inner": type === "storepath" }
  ]}>
{lines.map((line, idx, {length}) => {
  if (length - 1 === idx) {
    return <code class="font-bold bg-transparent border-none w-full p-0">{line.shellPrompt}</code><span>{line.code}</span>
  } else {
    return <code class="font-bold bg-transparent border-none w-full p-0">{line.shellPrompt}</code><span>{line.code}</span><br>
  }
})}
</pre>
