---

interface Props {
  lines: Array<{ shellPrompt: string, code: string }>;
}

const { lines } = Astro.props;

---

<pre class="font-mono bg-[#3a3a3a] text-white whitespace-pre-line p-4 rounded-3xl overflow-x-scroll">
{lines.map((line, idx, {length}) => {
  if (length - 1 === idx) {
    return <span class="font-bold">{line.shellPrompt}</span><span>{line.code}</span>
  } else {
    return <span class="font-bold">{line.shellPrompt}</span><span>{line.code}</span><br>
  }
})}
</pre>
