---
import Container from '@/components/layout/Container.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
import Button from '@/components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
const tiers = await getEntry('sponsors', 'tiers');
---

<Layout title="Become a Sponsor">
  <PageHeader text="Become a Sponsor" />
  <Container>
    <p class="mt-8">
      Help us keep NixOS and Nixpkgs sustainable by becoming a sponsor. Your
      support helps us maintain the infrastructure, improve the project, and
      organize events. We offer various sponsorship tiers, each with its own set
      of benefits.
    </p>
  </Container>
  <Container class="my-4 grid gap-4 md:grid-cols-3">
    {
      tiers.data.map((tier) => (
        <div class="bg-afghani-blue-95 flex flex-col justify-between rounded-b-xl">
          <div class="flex-1">
            <h2 class="bg-afghani-blue-45 flex items-center justify-between rounded-t-xl p-2 text-lg font-bold text-white">
              {tier.name}{' '}
              <span class="bg-afghani-blue-15 rounded-xl px-2 py-1 text-base">
                {tier.contribution}
              </span>
            </h2>
            <ul class="py-1">
              {tier.benefits.map((benefit) => (
                <li class="border-b-afghani-blue-45 inline-flex w-full items-center gap-2 border-b-1 p-2 last:border-b-0">
                  <Icon
                    name={benefit.icon}
                    class="text-afghani-blue-45 min-h-5 min-w-5"
                  />{' '}
                  {benefit.description}
                </li>
              ))}
            </ul>
          </div>
          {tier.requirements && (
            <p class="bg-afghani-blue-35 px-2 py-1 text-sm text-white">
              {tier.requirements}
            </p>
          )}
          <Button
            color="semidarkblue"
            classList={['rounded-t-none rounded-b-xl']}
            href="mailto:foundation@nixos.org"
          >
            Get in touch
          </Button>
        </div>
      ))
    }
  </Container>
</Layout>
