---
import { getEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/layout/PageHeader.astro";
import Container from "../components/layout/Container.astro";
import Divider from "../components/layout/Divider.astro";
import Button from "../components/ui/Button.astro";
import Banner from "../components/ui/Banner.astro";
import Citation from "../components/ui/Citation.astro";
import Quotation from "../components/ui/Quotation.astro";
import RfcDiagram from "../components/ui/RfcDiagram.astro";
import NixConEntry from "../components/pages/community/NixConEntry.astro";
import OfficialCommunityLink from "../components/pages/community/OfficialCommunityLink.astro";
import UnofficialCommunityLink from "../components/pages/community/UnofficialCommunityLink.astro";

const meetups = await getEntry("community", "meetups");
const teams = await getCollection("teams");

const nixcons = [
  {
    title: "NixCon 2024 - Berlin",
    date: "25-27 October 2024",
    href: "https://2024.nixcon.org/",
    description:
      "NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.",
    imagePath: "/images/nixcon/nixcon.2024.svg",
  },
  {
    title: "NixCon 2023 - Darmstadt",
    date: "8-10 September 2023",
    href: "https://2023.nixcon.org/",
    description:
      "NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.",
    imagePath: "/images/nixcon/nixcon.2023.svg",
  },
  {
    title: "NixCon 2022 - Paris",
    date: "20-22 October 2022",
    href: "https://2022.nixcon.org/",
    description:
      "NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.",
    imagePath: "/images/nixcon/nixcon.2022.svg",
  },
  {
    title: "NixCon 2020 - Online",
    date: "16-18 October 2020",
    href: "https://2019.nixcon.org/",
    description:
      "NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.",
    imagePath: "/images/nixcon/nixcon.2020.svg",
  },
  {
    title: "NixCon 2019 - Brno",
    date: "25-27 October 2019",
    href: "https://2019.nixcon.org/",
    description:
      "NixCon is becoming a regular gathering that everybody expects to happen. This year we met at Brno, Czech Republic. This was the biggest conference so far.",
    imagePath: "/images/nixcon/nixcon.2019.svg",
  },
  {
    title: "NixCon 2018 - London",
    date: "25-27 October 2018",
    href: "https://nixcon2018.org/",
    description:
      "For the first time a Nix conference outside the Germany. London was the first conference that was not run over the weekend, but during the week.",
    imagePath: "/images/nixcon/nixcon.2018.svg",
  },
  {
    title: "NixCon 2017 - Munich",
    date: "28-31 October 2017",
    href: "http://nixcon2017.org/",
    description:
      "After a year of a break, Nix community gathered at TNG Technology Consulting in Munich.",
  },
  {
    title: "NixCon 2015 - Berlin",
    date: "14-17 November 2015",
    href: "https://conf.nixos.org/",
    description:
      "Taking place in a Berlin-style converted loft, it was the first NixOS conference. It was the first time Nix community came together in such numbers. In two days there were many interesting talks.",
  },
];

const platformsMain = [
  {
    href: "https://discourse.nixos.org/",
    name: "Discourse",
    iconName: "simple-icons:discourse",
    description:
      "Our official forum is the right place to get help from other users and discuss the development of the projects. There are also Announcements, Job offers and Events.",
  },
  {
    href: "https://matrix.to/#/#community:nixos.org",
    name: "Matrix space",
    iconName: "simple-icons:matrix",
    description:
      "Real-time help, development chat, and off-topic community discussion takes place on Matrix.",
  },
  {
    href: "https://github.com/NixOS/",
    name: "Github",
    iconName: "simple-icons:github",
    description:
      "Official organization page on Github, where you can find nix, nixpkgs, and other repositories.",
  },
];

const socialMediaMain = [
  {
    href: "https://chaos.social/@nixos_org",
    name: "Mastodon",
    iconName: "simple-icons:mastodon",
  },
  {
    href: "https://twitter.com/nixos_org",
    name: "Twitter",
    iconName: "simple-icons:twitter",
  },
  {
    href: "https://www.linkedin.com/company/nixos-foundation/",
    name: "LinkedIn",
    iconName: "simple-icons:linkedin",
  },
  {
    href: "https://www.youtube.com/channel/UC3vIimi9q4AT8EgxYp_dWIw",
    name: "YouTube",
    iconName: "simple-icons:youtube",
  },
];

const calendarsMain = [
  {
    href: "https://calendar.google.com/calendar/u/0/embed?src=b9o52fobqjak8oq8lfkhg3t0qg@group.calendar.google.com",
    name: "Official NixOS Calendar",
    iconName: "mdi:calendar",
  },
  {
    href: "https://discourse.nixos.org/t/community-calendar/18589",
    name: "Community Calendar",
    iconName: "mdi:calendar",
  },
] as const;

const platformsOutside = [
  {
    href: "https://stackoverflow.com/questions/tagged/nix+or+nixpkgs+or+nixos+or+nixops",
    name: "Stackoverflow",
    iconName: "simple-icons:stackoverflow",
  },
  {
    href: "https://discord.gg/BqdJJFER4H",
    name: "Discord",
    iconName: "simple-icons:discord",
  },
  {
    href: "https://www.reddit.com/r/NixOS/",
    name: "Reddit",
    iconName: "simple-icons:reddit",
  },
];

import nixosFoundationLogo from "../assets/image/nixos-foundation-logo.svg";
---

<Layout title="Community">
  <PageHeader text="Community" />
  <Container class="font-extralight leading-relaxed space-y-4 mt-16">
    <p class="text-lg font-bold text-gray-700">
      Nix and NixOS are developed and used by a diverse and welcoming community
      from all around the world.
    </p>
    <p>
      The NixOS Foundation aims to promote participation without regard to
      gender, sexual orientation, disability, ethnicity, age, or similar
      personal characteristics.
    </p>
    <p>
      We want to strive to create and foster community by providing an
      intentionally welcoming and safe environment where all feel valued and
      cared for, and where all are given opportunity to participate
      meaningfully. The Foundation will work with the community in service of
      this goal.
    </p>
    <p>
      Instances of abusive, harassing, or otherwise unacceptable behavior may be
      reported by contacting the project team at <a
        href="mailto:community@nixos.org">community@nixos.org</a
      >. The project team is obligated to maintain confidentiality with regard
      to the reporter of an incident.
    </p>
  </Container>
  <Container>
    <h2 class="text-4xl font-bold font-heading leading-none text-nix-blue mt-8" id="community-values">
      <a href="#community-values">Community values</a>
    </h2>
    <div class="font-extralight leading-relaxed mt-2">
      <h3 class="text-3xl font-bold font-heading text-nix-blue mt-4" id="community-values-intro">
        <a href="#community-values-intro">Introduction</a>
      </h3>

      <Quotation>
        <p>
          Communities form when different people unite around a common purpose.
          Shared values guide decision making, and community goals supersede
          individual interests and agendas.
        </p>

        <p class="text-right py-2 italic">
          <a href="https://opensource.com/open-source-way"
            >The Open Source Way</a
          >
        </p>
      </Quotation>

      Our common purpose is to develop, propagate, and promote the adoption of
      the <a href="https://edolstra.github.io/pubs/phd-thesis.pdf"
        >purely functional software deployment model</a
      >. Our values help us achieve this purpose by guiding decisionmaking
      across the community, keeping us moving in a common direction. This
      document captures our core values so that they can be shared and
      referenced by everyone in the community.

      <h3 class="text-3xl font-bold font-heading text-nix-blue mt-4" id="community-values-whatis">
        <a href="#community-values-whatis">What is a value?</a>
      </h3>

      Values are <span class="italic">not</span> a Code of Conduct, they do not define
      governance structures, and they do not provide specific policies. Instead,
      values inform the decisions we make about these things. A good test for <a
        href="https://medium.com/the-u-s-digital-service/our-values-1fc02b53598"
        >whether something is a value</a
      > is:

      <Quotation>
        If a statement can be invoked by anyone in an organization, and cause a
        decision to be re-evaluated or changed, without regard to anyone’s rank
        or title, then you have a bona fide [i.e. genuine] value. If it doesn’t
        work that way, then it’s not a value.
      </Quotation>

      To apply in many situations, values must be high-level, abstract concepts.
      Therefore, in the text below, each value is presented as a heading
      followed by an elaboration of its meaning. This is meant as a starting
      point for interpretation, not a comprehensive definition. The heading and
      the elaboration have equal importance.

      <h3 class="text-3xl font-bold font-heading text-nix-blue mt-4" id="community-values-values">
        <a href="#community-values-values">The values</a>
      </h3>

      <h4 class="text-2xl font-bold font-heading text-nix-blue mt-4" id="community-values-respect">
        <a href="#community-values-respect">Respect and civility</a>
      </h4>

      We treat each other with respect and civility. No matter one's individual
      identity, circumstances, level of contribution to the project, or status,
      everyone has the right to respect, and everyone has the duty to treat
      others with respect. We prioritise project health over individual
      interests. People with higher visibility within the project or towards the
      public are subject to higher expectations for their conduct.

      <h4 class="text-2xl font-bold font-heading text-nix-blue mt-4" id="community-values-people">
        <a href="#community-values-people">People come first</a>
      </h4>

      We are here, first and foremost, as individuals working together. Our
      priority here is to work on Nix projects for the benefit of all their
      contributors and users. We value building excellent software with a
      vibrant and diverse community. Individuals gain trust and status by doing
      the work. Organisations gain prestige by funding the work of individuals
      and providing resources to support the project.

      <h4 class="text-2xl font-bold font-heading text-nix-blue mt-4" id="community-values-choice">
        <a href="#community-values-choice">Free software and choice over lock-in</a>
      </h4>

      Nix projects are and will always remain <a
        href="https://www.gnu.org/philosophy/free-sw.en.html">free software</a
      >. We value working together with the broader free software community.
      Free software is our priority, but we also support our users' needs to use
      non-free software, when practical.

      <h4 class="text-2xl font-bold font-heading text-nix-blue mt-4" id="community-values-decisionmaking">
        <a href="#community-values-decisionmaking">Distribute decisionmaking widely</a>
      </h4>

      We are a synthesis of varied but overlapping communities. We rely on
      distributed approaches: asynchronous communication, clear ownership,
      deep-dive taskforces, and local decisionmaking. We focus our attention on
      working together on our shared goals and working separately in a
      non-interfering way when our goals are independent. We build trust
      primarily by working together on Nix projects.

      <h4 class="text-2xl font-bold font-heading text-nix-blue mt-4" id="community-values-automation">
        <a href="#community-values-automation">Automation over process and toil</a>
        <Citation id={1}>
          <a
            href="https://web.archive.org/web/20240717145635/https://sre.google/sre-book/eliminating-toil/"
            >Toil</a> is work that tends to be manual, repetitive, automatable, interrupt-driven,
          devoid of enduring value, and scaling linearly with growth.
        </Citation>        
      </h4>

      We are a global community, and disseminating information and maintaining
      processes can be difficult. We are also a large project with a lot of hard
      and repetitive work. Therefore, we value automation over toil, while
      recognizing that not all toil can be automated. Automation reduces toil,
      but people are still accountable. Adding new toil needs a very strong
      justification. We build automation and processes that make the best use of
      our contributors' limited time and energy.

      <h4 class="text-2xl font-bold font-heading text-nix-blue mt-4" id="community-values-stability">
        <a href="#community-values-stability">Stable evolution over stagnation or chaos</a>
      </h4>

      Openness to new ideas and evolution is part of what made Nix great. We
      continue to foster that evolution while encouraging development of
      re-usable building blocks and well-defined, stable interfaces. We value
      experimenting with designs and concepts, and folding successful
      experiments back into continuous improvement for stable components. The
      larger the impact an action has, the more care and discussion is warranted
      before taking the action. Our leaders have a duty to find, support, and
      promote new contributors — and eventually step aside for new leaders.
    </div>

    <h2 class="text-4xl font-bold font-heading leading-none text-nix-blue mt-8" id="community-talk">
      <a href="#community-talk">Where to talk?</a>
    </h2>
    <p class="font-extralight leading-relaxed mt-2">
      The Nix community is spread across various platforms. Here are the
      official and unofficial spaces where you can find help, discuss
      development, and chat with other users.
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="md:col-span-2">
          <h3 class="text-3xl font-bold font-heading text-nix-blue mt-4" id="community-talk-official-spaces">
            <a href="#community-talk-official-spaces">Official spaces</a>
          </h3>
          <p class="text-gray-700">
            These spaces are monitored and moderated by the NixOS Moderation
            Team. This means they are moderated in such a way that they follow
            the standards and moral values of our community. You can find out
            more about our moderation team <a href="/community/teams/moderation"
              >here</a
            >.

            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 flex-wrap">
              {
                platformsMain.map((platform, i) => (
                  <OfficialCommunityLink
                    href={platform.href}
                    name={platform.name}
                    iconName={platform.iconName}
                    description={platform.description}
                    class={i === 0 && "md:col-span-2"}
                  />
                ))
              }
            </ul>
          </p>
        </div>
        <div class="col-span-1">
          <h3 class="text-3xl font-bold font-heading text-nix-blue mt-4" id="community-talk-official-socials">
            <a href="#community-talk-official-socials">Official social-media</a>
          </h3>
          <p class="text-gray-700">
            These spaces are maintained by our NixOS Marketing Team though not
            monitored and not moderated by the NixOS Moderation Team.

            <ul class="grid grid-cols-1 gap-4 mt-4 flex-wrap">
              {
                socialMediaMain.map((platform) => (
                  <OfficialCommunityLink
                    href={platform.href}
                    name={platform.name}
                    iconName={platform.iconName}
                  />
                ))
              }
            </ul>
          </p>
        </div>
        <div class="md:col-span-3">
          <h3 class="text-3xl font-bold font-heading text-nix-blue mt-4" id="community-talk-calendars">
            <a href="#community-talk-calendars">Our calendars</a>
          </h3>
          <p class="text-gray-700">
            We use these calendars to schedule events, meetings, and other.
            <ul class="grid md:grid-cols-3 gap-4 mt-4 flex-wrap">
              {
                calendarsMain.map((platform) => (
                  <OfficialCommunityLink
                    href={platform.href}
                    name={platform.name}
                    iconName={platform.iconName}
                  />
                ))
              }
            </ul>
          </p>
        </div>
      </div>
      <h3 class="text-3xl font-bold font-heading text-nix-blue mt-6" id="community-talk-unofficial-spaces">
        <a href="#community-talk-unofficial-spaces">Unofficial spaces</a>
      </h3>
      <p class="text-gray-700">
        These spaces are not monitored and not moderated by the NixOS Moderation
        Team. Please be aware that different moral values and rules may apply in
        these spaces. The NixOS moderation team may advise moderators in these
        spaces, though does not control or enforce our community values.

        <ul class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 flex-wrap">
          {
            platformsOutside.map((platform) => (
              <UnofficialCommunityLink
                href={platform.href}
                name={platform.name}
                iconName={platform.iconName}
                description={platform.description}
                type="mobile_icon_desktop_name"
              />
            ))
          }
        </ul>
      </p>
    </p>
  </Container>
  <Banner wrapperClasses="my-8">
    If you are looking for professional help, <a
      href="/community/commercial-support">check out companies</a
    > that offer Nix related services.
  </Banner>
  <Divider mirrorY />
  <div class="bg-nix-blue text-white py-8">
    <Container>
      <h2 class="text-4xl font-bold font-heading">NixCon</h2>
      <p class="mt-2 text-xl font-bold mb-4">
        The
        <a class="!text-white" href="/community/teams/nixcon">NixCon Team</a>
        organizes a conference once a year.
      </p>
      <div class="grid md:grid-cols-3 gap-4">
        <div class="col-span-2 md:col-span-1 bg-nix-blue-dark p-4 rounded-xl">
          <h3 class="text-3xl font-heading font-bold mb-4">Next Conference</h3>
          <NixConEntry
            imagePath={nixcons[0].imagePath}
            title={nixcons[0].title}
            date={nixcons[0].date}
            description={nixcons[0].description}
            href={nixcons[0].href}
          />
        </div>
        <div class="col-span-2 md:py-4">
          <h3 class="text-3xl font-heading font-bold">Previous Conferences</h3>
          <div class="grid md:grid-cols-2 gap-4 mt-4">
            {
              nixcons
                .slice(1)
                .map((nixcon) => (
                  <NixConEntry
                    title={nixcon.title}
                    date={nixcon.date}
                    description={nixcon.description}
                    href={nixcon.href}
                  />
                ))
            }
          </div>
        </div>
      </div>
    </Container>
  </div>
  <Divider />
  <Container>
    <h2 class="text-4xl font-bold font-heading text-nix-blue mt-8">Meetups</h2>
    <div
      class="mt-4 grid md:grid-flow-col auto-cols-fr font-extralight text-center text-lg bg-[url(/images/world-map.svg)] bg-contain bg-no-repeat"
    >
      <div>
        <h3 class="mt-4 md:mt-2 font-bold font-heading text-2xl text-nix-blue">
          America
        </h3>
        <ul class="mt-2 space-y-4">
          {
            meetups.data.america.map((meetup) => (
              <li>
                <a href={meetup.href}>{meetup.location}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold font-heading text-2xl text-nix-blue">
          Europe
        </h3>
        <ul class="mt-2 space-y-4">
          {
            meetups.data.europe.map((meetup) => (
              <li>
                <a href={meetup.href}>{meetup.location}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold font-heading text-2xl text-nix-blue">
          Asia
        </h3>
        <ul class="mt-2 space-y-4">
          {
            meetups.data.asia.map((meetup) => (
              <li>
                <a href={meetup.href}>{meetup.location}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div
      class="flex flex-wrap-reverse gap-8 font-extralight leading-loose mt-16"
    >
      <div class="flex-1 flex flex-col items-start gap-8 justify-center">
        <h2 class="text-4xl font-bold text-nix-blue leading-none">
          RFC Process
        </h2>
        <p>
          The "RFC" (request for comments) process is intended to provide a
          consistent and controlled path for new features to enter the Nix
          language, packages and OS, so that all community can be confident
          about the direction the ecosystem is evolving in.
        </p>
        <Button color="green" size="lg" href="https://github.com/NixOS/rfcs"
          >Learn more</Button
        >
      </div>
      <div class="flex-0 md:max-w-2xl w-full md:w-3/6 mt-2">
        <RfcDiagram />
      </div>
    </div>
  </Container>
  <div class="mt-8">
    <Divider mirrorY />
  </div>
  <div class="bg-nix-blue py-8">
    <Container>
      <h2 class="text-4xl font-bold text-white mt-8" id="governance-teams">
        Teams
      </h2>
      <ul class="flex flex-wrap gap-x-6 gap-y-16 mt-8 justify-stretch">
        {
          teams.map((team) => (
            <li class="text-white [&>a]:inline-block basis-72 flex-grow flex flex-col items-center text-center md:items-start md:text-left gap-2">
              <img
                src={`/images/teams/${team.slug.split("_")[1]}.svg`}
                alt={`${team.data.name} Logo`}
                class="h-24"
              />
              <h3 class="text-2xl font-bold font-heading">{team.data.name}</h3>
              <p class="font-extralight leading-relaxed grow mb-2">
                {team.data.description}
              </p>
              <Button
                color="green"
                href={"/community/teams/" + team.slug.split("_")[1]}
              >
                Read more
              </Button>
            </li>
          ))
        }
      </ul>
    </Container>
  </div>
  <Divider />
  <Container class="grid md:grid-cols-2 mb-16 mt-8" id="foundation">
    <div class="md:pb-0 text-center pb-4">
      <div class="flex flex-col items-center justify-center">
        <Image
          src={nixosFoundationLogo}
          alt="NixOS Foundation Logo"
          class="h-72"
        />
      </div>
      <div class="text-left inline-block mb-4 mt-4">
        <h2
          class="md:text-center text-3xl text-nix-blue font-bold font-heading"
        >
          Board members:
        </h2>
        <ul class="mt-2 md:w-72 mx-auto pl-8 md:pl-10 list-disc">
          {
            teams
              .filter(
                (team) => team.slug.split("_")[1] === "foundation-board",
              )[0]
              .data.members.map((member) => (
                <li class="mb-1">
                  {member.name}
                  {member.title && (
                    <>
                      &mdash;
                      {member.title}
                    </>
                  )}
                </li>
              ))
          }
        </ul>
      </div>
    </div>
    <div class="space-y-4 font-extralight leading-relaxed">
      <h2 class="text-3xl text-nix-blue font-heading font-bold">
        The mission!
      </h2>
      <p>
        The mission of the foundation is to support the Nix ecosystem's
        infrastructure, and projects implementing the purely functional
        deployment model.
      </p>
      <p>
        In particular, the foundation supports Nix, Nixpkgs, NixOS, and
        operates:
      </p>
      <ul class="list-disc ml-4">
        <li>
          <a href="https://cache.nixos.org"> cache.nixos.org</a>
          - the NixOS binary cache, containing over 120TB of prebuilt Nix packages.
        </li>
        <li>
          <a href="https://hydra.nixos.org"> hydra.nixos.org</a>
          - a Nix build farm, consisting of hundreds of macOS, x86-64 (Linux) and
          aarch64 (Linux) build cores. Hydra executes over 350,000 builds each week.
        </li>
        <li>
          <a href="/community/event-funding"> Event Funding</a>
        </li>
      </ul>
      <p>
        The NixOS Foundation is a registered non-profit organisation at the
        Chamber of commerce (Kamer van Koophandel) in Utrecht, The Netherlands.
        The KvK number is <code>63520583</code>.
      </p>
      <p>
        You can contact the foundation by writing an email to <a
          href="mailto:foundation@nixos.org">foundation@nixos.org</a
        >.
      </p>
    </div>
  </Container>
</Layout>
<script>
  const boxes = document
    .getElementById("rfc-diagram")
    .getElementsByTagName("rect");
  const diagram = document.getElementById("rfc-diagram");
  const durationMiliseconds = 1500;
  const baseActivationClasses = ["stroke-nix-blue"];
  const successActivationClasses = ["stroke-nix-green"];
  const failureActivationClasses = ["stroke-nix-orange", "opacity-50"];
  const fadedActivationClasses = ["opacity-50"];
  const timeline = [
    {
      element: boxes[9], // New Submission
      index: 0,
      classes: baseActivationClasses,
    },
    {
      element: boxes[8], // Nomination Phase
      index: 1,
      classes: baseActivationClasses,
    },
    {
      element: boxes[7], // Discussion Phase
      index: 2,
      classes: baseActivationClasses,
    },
    {
      element: boxes[0], // Final Comment Phase
      index: 3,
      classes: baseActivationClasses,
    },
    {
      element: boxes[3], // Submission Rejected
      index: 4,
      classes: failureActivationClasses,
    },
    {
      element: boxes[1], // New Submission 2
      index: 4,
      classes: fadedActivationClasses,
    },
    {
      element: boxes[5], // FCP Canceled
      index: 4,
      classes: failureActivationClasses,
    },
    {
      element: boxes[2], // Refine Submission
      index: 4,
      classes: fadedActivationClasses,
    },
    {
      element: boxes[4], // Submission Accepted
      index: 4,
      classes: successActivationClasses,
    },
  ];
  let isAnimating = false;

  timeline.forEach((box) => {
    box.element.classList.add("transition-all", "duration-500", "ease-in");
  });

  let highestIndex = 0;
  timeline.forEach((box) => {
    if (box.index > highestIndex) {
      highestIndex = box.index;
    }
  });

  function triggerAnimation() {
    // prevent multiple animations at the same time
    if (isAnimating) {
      return;
    }
    isAnimating = true;
    setTimeout(
      () => {
        isAnimating = false;
      },
      (highestIndex + 1) * durationMiliseconds,
    );

    // trigger animation on each box
    timeline.forEach((box) => {
      setTimeout(() => {
        box.element.classList.add(...box.classes);
      }, box.index * durationMiliseconds);
    });
  }

  const activatorObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (isAnimating || !entry.isIntersecting) {
          return;
        }
        triggerAnimation();
      });
    },
    {
      threshold: 1,
    },
  );
  const deactivatorObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (isAnimating || entry.isIntersecting) {
          return;
        }
        timeline.forEach((box) => {
          box.element.classList.remove(...box.classes);
        });
      });
    },
    {
      threshold: 0,
    },
  );
  activatorObserver.observe(diagram);
  deactivatorObserver.observe(diagram);
</script>
