---
import { getEntry, getCollection } from "astro:content"
import { Icon } from "astro-icon"

import Layout from "../layouts/Layout.astro"
import PageHeader from "../components/layout/PageHeader.astro"
import Container from "../components/layout/Container.astro"
import Divider from "../components/layout/Divider.astro"
import Button from "../components/ui/Button.astro";

const platforms = await getEntry("community", "community-platforms")
const meetups = await getEntry("community", "meetups")
const nixcons = await getCollection("nixcons")
const teams = await getCollection("teams")
---
<Layout title="Community">
  <PageHeader text="Community"/>
  <Container class="font-light space-y-4 mt-16">
    <p class="text-xl font-bold text-gray-500">
      Nix and NixOS are developed and used by a diverse and welcoming community from all around the world.
    </p>
    <p>
      The NixOS Foundation aims to promote participation without regard to gender, sexual orientation, disability, ethnicity, age, or similar personal characteristics.
    </p>
    <p>
      We want to strive to create and foster community by providing an intentionally welcoming and safe environment where all feel valued and cared for, and where all are given opportunity to participate meaningfully. The Foundation will work with the community in service of this goal.
    </p>
    <p>
      Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at <a href="mailto:community@nixos.org">community@nixos.org</a>. The project team is obligated to maintain confidentiality with regard to the reporter of an incident.
    </p>
  </Container>
  <Container>
    <h2 class="text-4xl font-bold text-nixdarkblue mt-8">
      Where to talk?
    </h2>
    <ul class="grid gap-4 mt-4 md:grid-flow-col auto-cols-fr">
      {platforms.data.main.map((platform) => (
        <li class="bg-nixdarkblue rounded-xl p-4 hover:box-shadow-xl hover:bg-nixsemidarkblue transition-all">
          <a href={platform.href} class="!no-underline !text-white">
            <div class="flex gap-2 text-xl font-bold">
              <Icon name={platform.iconName} alt={"logo of " + platform.name} class="w-8 h-8"/>
              <span class="leading-8 ml-2">
                {platform.name}
              </span>
            </div>
            <div class="mt-4">
              {platform.description}
            </div>
          </a>
        </li>
      ))}
    </ul>
    <ul class="flex gap-4 mt-4 flex-wrap">
      {platforms.data.other.map((platform) => (
        <li class="basis-24 grow bg-nixdarkblue rounded-xl p-4 hover:drop-shadow-md hover:bg-nixsemidarkblue">
          <a href={platform.href}>
            <Icon name={platform.iconName} alt={"logo of " + platform.name} class="mx-auto w-8 h-8 text-white"/>
          </a>
        </li>
      ))}
    </ul>
  </Container>
  <aside class="my-8 bg-nixlighterblue p-4 font-bold text-nixsemidarkblue">
    <Container>
      If you are looking for professional help, <a href="/community/commercial-support">check out companies</a> that offer Nix related services.
    </Container>
  </aside>
  <Divider mirrorY/>
  <div class="bg-nixdarkblue py-8">
    <Container>
      <h2 class="text-4xl font-bold text-white">
        NixCon
      </h2>
      <p class="mt-2 text-white">
        NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.
      </p>
      <ul class="timeline timeline-vertical lg:timeline-horizontal mt-4 text-white text-lg overflow-scroll lg:pb-3 [scrollbar-color:_white_theme(colors.nixsemidarkblue)]">
        {nixcons.reverse().map((nixcon) => (
          <li class="[&:first-child_>_hr:first-child]:hidden [&:last-child_>_hr:last-child]:hidden lg:first:font-bold grid-cols-[4fr_auto_5fr]">
            <hr class="bg-white"/>
            <div class="timeline-start text-right">
              {nixcon.data.date}
            </div>
            <div class="timeline-middle">
              <div class="h-6 w-6 rounded-full border-4 border-white mx-2 lg:mx-0">
              </div>
            </div>
            <div class="timeline-end timeline-box">
              <a href={nixcon.data.href}>
                {nixcon.data.title}
              </a>
            </div>
            <hr class="bg-white"/>
          </li>
        ))}
      </ul>
    </Container>
  </div>
  <Divider/>
  <Container>
    <h2 class="text-4xl font-bold text-nixdarkblue mt-8">
      Meetups
    </h2>
    <div class="mt-4 grid md:grid-flow-col auto-cols-fr font-light text-center text-lg bg-[url(/images/world-map.svg)] bg-contain bg-no-repeat">
      <div>
        <h3 class="mt-4 md:mt-2 font-bold text-2xl text-nixdarkblue">
          America
        </h3>
        <ul class="mt-2 space-y-2">
          {meetups.data.america.map((meetup) => (
            <li>
              <a href={meetup.href}>
                {meetup.location}
              </a>
            </li>
          ))}
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold text-2xl text-nixdarkblue">
          Europe
        </h3>
        <ul class="mt-2 space-y-2">
          {meetups.data.europe.map((meetup) => (
            <li>
              <a href={meetup.href}>
                {meetup.location}
              </a>
            </li>
          ))}
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold text-2xl text-nixdarkblue">
          Asia
        </h3>
        <ul class="mt-2 space-y-2">
          {meetups.data.asia.map((meetup) => (
            <li>
              <a href={meetup.href}>
                {meetup.location}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>
    <h2 class="text-4xl font-bold text-nixdarkblue mt-8">
      RFC Process
    </h2>
    <div class="flex flex-wrap-reverse gap-8 mt-4">
      <div class="basis-64 grow space-y-2">
        <p class="font-light text-lg">
          Many changes, including bug fixes and documentation improvements can be implemented and reviewed via the normal GitHub pull request workflow. Some changes though are "substantial", and we ask that these be put through a bit of a design process and produce a consensus among the Nix community.
        </p>
        <p class="font-light text-lg">
          The "RFC" (request for comments) process is intended to provide a consistent and controlled path for new features to enter the Nix language, packages and OS, so that all community can be confident about the direction the ecosystem is evolving in.
        </p>
        <div class="!mt-4">
          <Button href="https://github.com/NixOS/rfcs">
            Learn more
          </Button>
        </div>
      </div>
      <div class="space-y-8" id="rfc-animation">
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-0">
          <svg class="inline relative stroke-base-content -top-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-plus-2"><path d="M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4"/><polyline points="14 2 14 8 20 8"/><path d="M3 15h6"/><path d="M6 12v6"/></svg>
          New submission
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-1 relative">
          <svg class="inline relative stroke-base-content -top-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-badge"><path d="M4 7V4a2 2 0 0 1 2-2h8.5L20 7.5V20a2 2 0 0 1-2 2h-6"/><polyline points="14 2 14 8 20 8"/><path d="M5 17a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/><path d="M7 16.5 8 22l-3-1-3 1 1-5.5"/></svg>
          Nomination phase
          <hr class="absolute border border-gray-300 h-8 w-0 -top-[calc(2rem_+_2px)]"/>
          <div class="absolute text-xs font-mono text-gray-500 -bottom-7 left-6 bg-gray-200 py-0.5 px-1.5 rounded-full">
            assignment of Shepherding Team
          </div>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-2 relative">
          <svg class="inline relative stroke-base-content -top-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-volume"><path d="M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v3"/><polyline points="14 2 14 8 20 8"/><path d="m7 10-3 2H2v4h2l3 2v-8Z"/><path d="M11 11c.64.8 1 1.87 1 3s-.36 2.2-1 3"/></svg>
          Discussion phase
          <hr class="absolute border border-gray-300 h-8 w-0 -top-[calc(2rem_+_2px)]"/>
          <div class="absolute text-xs font-mono text-gray-500 -bottom-7 left-6 bg-gray-200 py-0.5 px-1.5 rounded-full">
            motion for FCP
          </div>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-3 relative">
          <svg class="inline relative stroke-base-content -top-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-edit"><path d="M4 13.5V4a2 2 0 0 1 2-2h8.5L20 7.5V20a2 2 0 0 1-2 2h-5.5"/><polyline points="14 2 14 8 20 8"/><path d="M10.42 12.61a2.1 2.1 0 1 1 2.97 2.97L7.95 21 4 22l.99-3.95 5.43-5.44Z"/></svg>
          Final comment phase
          <hr class="absolute border border-gray-300 h-8 w-0 -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-x relative ml-12">
          <svg class="inline relative stroke-base-content -top-0.5 rfc-box-x" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-minus-2"><path d="M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4"/><polyline points="14 2 14 8 20 8"/><path d="M3 15h6"/></svg>
          FCP cancelled
          <svg class="absolute w-8 h-8 -left-[calc(2rem_+_2px)] top-0" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke-2 stroke-gray-300" d="M30 29.5C26.126 29.5 22.2899 28.737 18.7108 27.2544C15.1317 25.7719 11.8797 23.599 9.14035 20.8596C6.40102 18.1203 4.22807 14.8683 2.74555 11.2892C1.26304 7.71005 0.5 3.87399 0.5 -2.57897e-06"/>
          </svg>
          <hr class="absolute border border-gray-300 h-24 w-0 -left-[calc(2rem_+_2px)] -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-x relative ml-12">
          <svg class="inline relative stroke-base-content -top-0.5 rfc-box-x" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-x-2"><path d="M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4"/><path d="M14 2v6h6"/><path d="m3 12.5 5 5"/><path d="m8 12.5-5 5"/></svg>
          Submission rejected
          <svg class="absolute w-8 h-8 -left-[calc(2rem_+_2px)] top-0" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke-2 stroke-gray-300" d="M30 29.5C26.126 29.5 22.2899 28.737 18.7108 27.2544C15.1317 25.7719 11.8797 23.599 9.14035 20.8596C6.40102 18.1203 4.22807 14.8683 2.74555 11.2892C1.26304 7.71005 0.5 3.87399 0.5 -2.57897e-06"/>
          </svg>
          <hr class="absolute border border-gray-300 h-24 w-0 -left-[calc(2rem_+_2px)] -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-4 relative ml-12">
          <svg class="inline relative stroke-base-content -top-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-check-2"><path d="M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4"/><polyline points="14 2 14 8 20 8"/><path d="m3 15 2 2 4-4"/></svg>
          Submission accepted
          <svg class="absolute w-8 h-8 -left-[calc(2rem_+_2px)] top-0" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke-2 stroke-gray-300" d="M30 29.5C26.126 29.5 22.2899 28.737 18.7108 27.2544C15.1317 25.7719 11.8797 23.599 9.14035 20.8596C6.40102 18.1203 4.22807 14.8683 2.74555 11.2892C1.26304 7.71005 0.5 3.87399 0.5 -2.57897e-06"/>
          </svg>
          <hr class="absolute border border-gray-300 h-[calc(2rem_+_2px)] w-0 -left-[calc(2rem_+_2px)] -top-[calc(2rem_+_2px)]"/>
        </div>
      </div>
    </div>
  </Container>
  <div class="mt-8">
    <Divider mirrorY mirrorX/>
  </div>
  <div class="bg-nixdarkblue py-8">
    <Container>
      <h2 class="text-4xl font-bold text-white mt-8">
        Teams
      </h2>
      <ul class="flex flex-wrap gap-4 mt-4">
        {teams.map((team) => (
          <li>          
            <a href={"/community/teams/" + team.slug} class="!no-underline !text-white w-full lg:w-96 lg:h-[11rem] block hover:bg-nixsemidarkblue group transition-[background] rounded-xl p-2">
              <div class="flex justify-between">
                <h3 class="text-2xl">
                  <img src={"/images/teams/" + team.slug + ".svg"} alt="icon" class="inline invert -top-0.5 relative mr-2"/>
                  {team.data.name}
                </h3>
                <img src="/images/external-link.svg" class="inline invert -top-0.5 relative opacity-0 group-hover:opacity-100 transition-opacity"/>
              </div>
              <p class="font-light mt-1">
                {team.data.description}
                <span class="block font-bold group-hover:underline">
                  Read more
                </span>
              </p>
            </a>
          </li>
        ))}
      </ul>
    </Container>
  </div>
  <Divider mirrorX/>
  <Container class="grid md:grid-cols-2 mb-16 mt-8">
    <div>
      <div class="flex flex-col gap-4 text-center font-nixos">
        <img src="/images/logos/nixos_flake.svg" class="h-40" />
        <p class="font-regular text-8xl">
          NixOS
        </p>
        <p class="font-light text-7xl">
          Foundation
        </p>
      </div>
      <h2 class="mt-4 text-center text-3xl text-nixdarkblue font-bold">
        Board members:
      </h2>
      <ul class="mt-2 w-64 mx-auto list-disc">
        {teams.filter((team) => team.slug === "foundation-board")[0].data.members.map((member) => (
          <li>
            {member.name}
            {member.title && 
              <span class="badge border-nixgreen ml-2">
                {member.title}
              </span>
            }
          </li>
        ))}
      </ul>
    </div>
    <div class="space-y-4 font-light">
      <h2 class="text-3xl text-nixdarkblue font-bold">
        The mission!
      </h2>
      <p>
        The mission of the foundation is to support the Nix ecosystem's infrastructure, and projects implementing the purely functional deployment model.
      </p>
      <p>
        In particular, the foundation supports Nix, Nixpkgs, NixOS, and operates:
      </p>
      <ul class="list-disc ml-4">
        <li>
          <a href="https://cache.nixos.org">
            cache.nixos.org
          </a>
          - the NixOS binary cache, containing over 120TB of prebuilt Nix packages.
        </li>
        <li>
          <a href="https://hydra.nixos.org">
            hydra.nixos.org
          </a>
          - a Nix build farm, consisting of hundreds of macOS, x86-64 (Linux) and
          aarch64 (Linux) build cores. Hydra executes over 350,000 builds each
          week.
        </li>
        <li>
          <a href="/community/event-funding">
            Event Funding
          </a>
        </li>
      </ul>
      <p>
        The NixOS Foundation is a registered non-profit organisation at the Chamber of commerce (Kamer van Koophandel) in Utrecht, The Netherlands. The KvK number is <code>63520583</code>.
      </p>
      <p>
        You can contact the foundation by writing an email to <a href="mailto:foundation@nixos.org">foundation@nixos.org</a>.</p>
    </div>
  </Container>
</Layout>
<script>
  // trigger animation when whole flowchart is visible
  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      entry.target.classList.toggle("is-in-viewport", entry.isIntersecting)
    })    
  })
  const rfcAnimation = document.getElementById("rfc-animation")
  observer.observe(rfcAnimation)
</script>
