---
import { getEntry, getCollection } from "astro:content"

import Layout from "../layouts/Layout.astro"
import PageHeader from "../components/layout/PageHeader.astro"
import Container from "../components/layout/Container.astro"

const platforms = await getEntry("community", "community-platforms")
const meetups = await getEntry("community", "meetups")
const nixcons = await getCollection("nixcons")
---
<Layout title="Community">
  <PageHeader text="Community"/>
  <Container>
    <p class="text-xl font-bold text-gray-500 mt-16">
      Nix and NixOS are developed and used by a diverse and welcoming community from all around the world.
    </p>
    <p class="mt-4 font-light">
      The NixOS Foundation aims to promote participation without regard to gender, sexual orientation, disability, ethnicity, age, or similar personal characteristics.
    </p>
    <p class="mt-4 font-light">
      We want to strive to create and foster community by providing an intentionally welcoming and safe environment where all feel valued and cared for, and where all are given opportunity to participate meaningfully. The Foundation will work with the community in service of this goal.
    </p>
    <p class="mt-4 font-light">
      Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at <a href="mailto:community@nixos.org">community@nixos.org</a>. The project team is obligated to maintain confidentiality with regard to the reporter of an incident.
    </p>
    <h2 class="text-4xl font-bold text-nixdarkblue mt-8">
      Where to talk?
    </h2>
    <ul class="grid gap-4 mt-4 md:grid-flow-col auto-cols-fr">
      {platforms.data.main.map((platform) => (
        <li class="bg-nixdarkblue rounded-xl p-4 hover:box-shadow-xl hover:bg-nixsemidarkblue">
          <a href={platform.href} class="!no-underline !text-white">
            <div class="flex gap-2 text-xl font-bold">
              <img src={platform.logo} alt={"logo of " + platform.name} class="w-8 h-8 invert"/>
              <span class="leading-8 ml-2">
                {platform.name}
              </span>
            </div>
            <div class="mt-4">
              {platform.description}
            </div>
          </a>
        </li>
      ))}
    </ul>
    <ul class="flex gap-4 mt-4">
      {platforms.data.other.map((platform) => (
        <li class="basis-full bg-nixdarkblue rounded-xl p-4 hover:drop-shadow-md hover:bg-nixsemidarkblue">
          <a href={platform.href}>
            <img src={platform.logo} alt={"logo of " + platform.name} class="mx-auto w-8 h-8 invert"/>
          </a>
        </li>
      ))}
    </ul>
  </Container>
  <img src="/divider/slope_down.svg" class="mt-8 w-full object-fill object-[60%_top] h-16 -scale-y-100"/>
  <div class="bg-nixdarkblue py-8">
    <Container>
      <h2 class="text-4xl font-bold text-white">
        NixCon
      </h2>
      <p class="mt-2 text-white">
        NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.
      </p>
      <ul class="timeline timeline-vertical mt-4 text-white">
        {nixcons.reverse().map((nixcon) => (
          <li class="[&:first-child_>_hr:first-child]:hidden [&:last-child_>_hr:last-child]:hidden">
            <hr/>
            <div class="timeline-start">
              {nixcon.data.date}
            </div>
            <div class="timeline-middle">
              <div class="h-6 w-6 rounded-full border-4 border-white mx-2">
              </div>
            </div>
            <div class="timeline-end timeline-box text-lg">
              <a href={nixcon.data.href}>
                {nixcon.data.title}
              </a>
            </div>
            <hr/>
          </li>
        ))}
      </ul>
    </Container>
  </div>
  <img src="/divider/slope_down.svg" class="mb-8 w-full object-fill object-[60%_top] h-16"/>
  <Container>
    <h2 class="text-4xl font-bold text-nixdarkblue mt-8">
      Meetups
    </h2>
    <div class="mt-4 grid md:grid-flow-col auto-cols-fr font-light text-center text-lg bg-[url(/images/world-map.svg)] bg-cover">
      <div>
        <h3 class="mt-4 md:mt-2 font-bold text-2xl text-nixdarkblue">
          America
        </h3>
        <ul class="mt-2 space-y-2">
          {meetups.data.america.map((meetup) => (
            <li>
              <a href={meetup.href}>
                {meetup.location}
              </a>
            </li>
          ))}
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold text-2xl text-nixdarkblue">
          Europe
        </h3>
        <ul class="mt-2 space-y-2">
          {meetups.data.europe.map((meetup) => (
            <li>
              <a href={meetup.href}>
                {meetup.location}
              </a>
            </li>
          ))}
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold text-2xl text-nixdarkblue">
          Asia
        </h3>
        <ul class="mt-2 space-y-2">
          {meetups.data.asia.map((meetup) => (
            <li>
              <a href={meetup.href}>
                {meetup.location}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>
    <h2 class="text-4xl font-bold text-nixdarkblue mt-8">
      RFC Process
    </h2>
    <div>
      <div class="space-y-8 mt-4">
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-0">
          New submission
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-1 relative">
          Nomination phase
          <hr class="absolute border border-gray-300 h-8 w-0 -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-2 relative">
          Discussion phase
          <hr class="absolute border border-gray-300 h-8 w-0 -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-3 relative">
          Final comment phase
          <hr class="absolute border border-gray-300 h-8 w-0 -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-x relative ml-12">
          FCP cancelled
          <svg class="absolute w-8 h-8 -left-[calc(2rem_+_2px)] top-0" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke-2 stroke-gray-300" d="M30 29.5C26.126 29.5 22.2899 28.737 18.7108 27.2544C15.1317 25.7719 11.8797 23.599 9.14035 20.8596C6.40102 18.1203 4.22807 14.8683 2.74555 11.2892C1.26304 7.71005 0.5 3.87399 0.5 -2.57897e-06"/>
          </svg>
          <hr class="absolute border border-gray-300 h-24 w-0 -left-[calc(2rem_+_2px)] -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-x relative ml-12">
          Submission rejected
          <svg class="absolute w-8 h-8 -left-[calc(2rem_+_2px)] top-0" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke-2 stroke-gray-300" d="M30 29.5C26.126 29.5 22.2899 28.737 18.7108 27.2544C15.1317 25.7719 11.8797 23.599 9.14035 20.8596C6.40102 18.1203 4.22807 14.8683 2.74555 11.2892C1.26304 7.71005 0.5 3.87399 0.5 -2.57897e-06"/>
          </svg>
          <hr class="absolute border border-gray-300 h-24 w-0 -left-[calc(2rem_+_2px)] -top-[calc(2rem_+_2px)]"/>
        </div>
        <div class="border-2 border-gray-300 bg-gray-100 rounded-xl px-4 py-4 text-lg w-64 rfc-box-4 relative ml-12">
          Submission accepted
          <svg class="absolute w-8 h-8 -left-[calc(2rem_+_2px)] top-0" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke-2 stroke-gray-300" d="M30 29.5C26.126 29.5 22.2899 28.737 18.7108 27.2544C15.1317 25.7719 11.8797 23.599 9.14035 20.8596C6.40102 18.1203 4.22807 14.8683 2.74555 11.2892C1.26304 7.71005 0.5 3.87399 0.5 -2.57897e-06"/>
          </svg>
          <hr class="absolute border border-gray-300 h-[calc(2rem_+_2px)] w-0 -left-[calc(2rem_+_2px)] -top-[calc(2rem_+_2px)]"/>
        </div>
      </div>
      <p class="mt-4 font-light">
        The "RFC" (request for comments) process is intended to provide a consistent and controlled path for new features to enter the Nix language, packages and OS, so that all community can be confident about the direction the ecosystem is evolving in.
      </p>
    </div>
  </Container>
</Layout>
