---
import { getEntry, getCollection } from "astro:content";
import { Image } from 'astro:assets';

import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/layout/PageHeader.astro";
import Container from "../components/layout/Container.astro";
import Divider from "../components/layout/Divider.astro";
import Button from "../components/ui/Button.astro";
import Banner from "../components/ui/Banner.astro";
import RfcDiagram from "../components/ui/RfcDiagram.astro";
import NixConEntry from "../components/pages/community/NixConEntry.astro";
import OfficialCommunityLink from "../components/pages/community/OfficialCommunityLink.astro";
import UnofficialCommunityLink from "../components/pages/community/UnofficialCommunityLink.astro";

const meetups = await getEntry("community", "meetups");
const teams = await getCollection("teams");

const nixcons = [
  {
    title: "NixCon 2023 - Darmstadt",
    date: "8-10 September 2023",
    href: "https://2023.nixcon.org/",
    description: "NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.",
    imagePath: "/images/nixcon/nixcon.2023.svg",
  },
  {
    title: "NixCon 2022 - Paris",
    date: "20-22 October 2022",
    href: "https://2022.nixcon.org/",
    description: "NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.",
    imagePath: "/images/nixcon/nixcon.2022.svg",
  },
  {
    title: "NixCon 2020 - Online",
    date: "16-18 October 2020",
    href: "https://2019.nixcon.org/",
    description: "NixCon is a community-oriented conference for contributors and users of Nix and NixOS. It's about sharing experiences, inspiring people and discussing future development.",
    imagePath: "/images/nixcon/nixcon.2020.svg",
  },
  {
    title: "NixCon 2019 - Brno",
    date: "25-27 October 2019",
    href: "https://2019.nixcon.org/",
    description: "NixCon is becoming a regular gathering that everybody expects to happen. This year we met at Brno, Czech Republic. This was the biggest conference so far.",
    imagePath: "/images/nixcon/nixcon.2019.svg",
  },
  {
    title: "NixCon 2018 - London",
    date: "25-27 October 2018",
    href: "https://nixcon2018.org/",
    description: "For the first time a Nix conference outside the Germany. London was the first conference that was not run over the weekend, but during the week.",
    imagePath: "/images/nixcon/nixcon.2018.svg",
  },
  {
    title: "NixCon 2017 - Munich",
    date: "28-31 October 2017",
    href: "http://nixcon2017.org/",
    description: "After a year of a break, Nix community gathered at TNG Technology Consulting in Munich.",
  },
  {
    title: "NixCon 2015 - Berlin",
    date: "14-17 November 2015",
    href: "https://conf.nixos.org/",
    description: "Taking place in a Berlin-style converted loft, it was the first NixOS conference. It was the first time Nix community came together in such numbers. In two days there were many interesting talks.",
  },
];

const platformsMain = [
  {
    href: "https://discourse.nixos.org/",
    name: "Discourse",
    iconName: "simple-icons:discourse",
    description: "Our official forum is the right place to get help from other users and discuss the development of the projects. There are also Announcements, Job offers and Events.",
  },
  {
    href: "https://matrix.to/#/#community:nixos.org",
    name: "Matrix space",
    iconName: "simple-icons:matrix",
    description: "Real-time help, development chat, and off-topic community discussion takes place on Matrix.",
  },
  {
    href: "https://github.com/NixOS/",
    name: "Github",
    iconName: "simple-icons:github",
    description: "Official organization page on Github, where you can find nix, nixpkgs, and other repositories."
  }
];

const platformsOutside = [
  {
    href: "https://mastodon.social/tags/nixos",
    name: "Mastodon",
    iconName: "simple-icons:mastodon",
  },
  {
    href: "https://twitter.com/hashtag/NixOS",
    name: "Twitter",
    iconName: "simple-icons:twitter",
  },
  {
    href: "https://stackoverflow.com/questions/tagged/nix+or+nixpkgs+or+nixos+or+nixops",
    name: "Stackoverflow",
    iconName: "simple-icons:stackoverflow",
  },
  {
    href: "https://discord.gg/BqdJJFER4H",
    name: "Discord",
    iconName: "simple-icons:discord",
  },
  {
    href: "https://www.reddit.com/r/NixOS/",
    name: "Reddit",
    iconName: "simple-icons:reddit",
  },
];

import nixosFoundationLogo from "../assets/image/nixos-foundation-logo.svg";
---

<Layout title="Community">
  <PageHeader text="Community" />
  <Container class="font-extralight leading-relaxed space-y-4 mt-16">
    <p class="text-lg font-bold text-gray-700">
      Nix and NixOS are developed and used by a diverse and welcoming community
      from all around the world.
    </p>
    <p>
      The NixOS Foundation aims to promote participation without regard to
      gender, sexual orientation, disability, ethnicity, age, or similar
      personal characteristics.
    </p>
    <p>
      We want to strive to create and foster community by providing an
      intentionally welcoming and safe environment where all feel valued and
      cared for, and where all are given opportunity to participate
      meaningfully. The Foundation will work with the community in service of
      this goal.
    </p>
    <p>
      Instances of abusive, harassing, or otherwise unacceptable behavior may be
      reported by contacting the project team at <a
        href="mailto:community@nixos.org">community@nixos.org</a
      >. The project team is obligated to maintain confidentiality with regard
      to the reporter of an incident.
    </p>
  </Container>
  <Container>
    <h2 class="text-4xl font-bold font-heading leading-none text-nix-blue mt-8">Where to talk?</h2>
    <p class="font-extralight leading-relaxed mt-2">
      The Nix community is spread across various platforms. Here are the
      official and unofficial spaces where you can find help, discuss
      development, and chat with other users.
    <h3 class="text-3xl font-bold font-heading text-nix-blue mt-4">Official spaces</h3>
    <p class="text-gray-700">
      These spaces are monitored and moderated by the NixOS Moderation Team.
        
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 flex-wrap">
        {
          platformsMain.map((platform) => (
            <OfficialCommunityLink
              href={platform.href}
              name={platform.name}
              iconName={platform.iconName}
              description={platform.description} />
          ))
        }
      </ul>    
    </p>
    <h3 class="text-3xl font-bold font-heading text-nix-blue mt-6">Unofficial spaces</h3>
    <p class="text-gray-700">
        These spaces are not monitored and not moderated by the NixOS Moderation Team.

        <ul class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 flex-wrap">
          {platformsOutside.map((platform) => (
              <UnofficialCommunityLink
                href={platform.href}
                name={platform.name}
                iconName={platform.iconName}
                description={platform.description}
                type="mobile_icon_desktop_name" />
            ))
          }
        </ul>
    </p>
  </Container>
  <Banner wrapperClasses="my-8">
    If you are looking for professional help, <a
      href="/community/commercial-support">check out companies</a
    > that offer Nix related services.
  </Banner>
  <Divider mirrorY />
  <div class="bg-nix-blue text-white py-8">
    <Container>
      <h2 class="text-4xl font-bold font-heading">NixCon</h2>
      <p class="mt-2 text-xl font-bold mb-4">
        The
        <a class="!text-white" href="/community/teams/nixcon">NixCon Team</a>
        organizes a conference once a year.
      </p>
      <div class="grid md:grid-cols-3 gap-4">
        <div class="col-span-2 md:col-span-1 bg-nix-blue-dark p-4 rounded-xl">
          <h3 class="text-3xl font-heading font-bold mb-4">Next Conference</h3>
          <NixConEntry
            imagePath={nixcons[0].imagePath}
            title={nixcons[0].title}
            date={nixcons[0].date}
            description={nixcons[0].description}
            href={nixcons[0].href} />
        </div>
        <div class="col-span-2 md:py-4">
          <h3 class="text-3xl font-heading font-bold">Previous Conferences</h3>
          <div class="grid md:grid-cols-2 gap-4 mt-4">
            {
              nixcons.slice(1).map((nixcon) => (
                <NixConEntry
                  title={nixcon.title}
                  date={nixcon.date}
                  description={nixcon.description}
                  href={nixcon.href} />
              ))
            }
          </div>
        </div>
      </div>
    </Container>
  </div>
  <Divider />
  <Container>
    <h2 class="text-4xl font-bold font-heading text-nix-blue mt-8">Meetups</h2>
    <div
      class="mt-4 grid md:grid-flow-col auto-cols-fr font-extralight text-center text-lg bg-[url(/images/world-map.svg)] bg-contain bg-no-repeat"
    >
      <div>
        <h3 class="mt-4 md:mt-2 font-bold font-heading text-2xl text-nix-blue">
          America
        </h3>
        <ul class="mt-2 space-y-4">
          {
            meetups.data.america.map((meetup) => (
              <li>
                <a href={meetup.href}>{meetup.location}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold font-heading text-2xl text-nix-blue">Europe</h3>
        <ul class="mt-2 space-y-4">
          {
            meetups.data.europe.map((meetup) => (
              <li>
                <a href={meetup.href}>{meetup.location}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="mt-4 md:mt-2 font-bold font-heading text-2xl text-nix-blue">Asia</h3>
        <ul class="mt-2 space-y-4">
          {
            meetups.data.asia.map((meetup) => (
              <li>
                <a href={meetup.href}>{meetup.location}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="flex flex-wrap-reverse gap-8 font-extralight leading-loose mt-16">
      <div class="flex-1 flex flex-col items-start gap-8 justify-center">
        <h2 class="text-4xl font-bold text-nix-blue leading-none">RFC Process</h2>
        <p>
          The "RFC" (request for comments) process is intended to provide a
          consistent and controlled path for new features to enter the Nix
          language, packages and OS, so that all community can be confident
          about the direction the ecosystem is evolving in.
        </p>
        <Button color="green" size="lg" href="https://github.com/NixOS/rfcs">Learn more</Button>
      </div>
      <div class="flex-0 md:max-w-2xl w-full md:w-3/6 mt-2">
        <RfcDiagram />
      </div>
    </div>
  </Container>
  <div class="mt-8">
    <Divider mirrorY />
  </div>
  <div class="bg-nix-blue py-8">
    <Container>
      <h2 class="text-4xl font-bold text-white mt-8" id="governance-teams">Teams</h2>
      <ul class="flex flex-wrap gap-x-6 gap-y-16 mt-8 justify-stretch">
        {
          teams.map((team) => (
            <li class="text-white [&>a]:inline-block basis-72 flex-grow flex flex-col items-center text-center md:items-start md:text-left gap-2">
              <img
                src={`/images/teams/${team.slug.split("_")[1]}.svg`}
                alt={`${team.data.name} Logo`}
                class="h-24"
              />
              <h3 class="text-2xl font-bold font-heading">{team.data.name}</h3>
              <p class="font-extralight leading-relaxed grow mb-2">{team.data.description}</p>
              <Button color="green" href={"/community/teams/" + team.slug.split("_")[1]}>
                Read more
              </Button>
            </li>
          ))
        }
      </ul>
    </Container>
  </div>
  <Divider />
  <Container class="grid md:grid-cols-2 mb-16 mt-8" id="foundation">
    <div class="md:pb-0 text-center pb-4">
      <div class="flex flex-col items-center justify-center">
        <Image src={nixosFoundationLogo} alt='NixOS Foundation Logo' class="h-72" />
      </div>
      <div class="text-left inline-block mb-4 mt-4">
        <h2 class="md:text-center text-3xl text-nix-blue font-bold font-heading">
          Board members:
        </h2>
        <ul class="mt-2 md:w-72 mx-auto pl-8 md:pl-10 list-disc">
          {
            teams
              .filter((team) => team.slug.split("_")[1] === "foundation-board")[0]
              .data.members.map((member) => (
                <li class="mb-1">
                  {member.name}
                  {member.title && (
                    <>
                    &mdash;
                    {member.title}
                    </>
                  )}
                </li>
              ))
          }
        </ul>
      </div>
    </div>
    <div class="space-y-4 font-extralight leading-relaxed">
      <h2 class="text-3xl text-nix-blue font-heading font-bold">The mission!</h2>
      <p>
        The mission of the foundation is to support the Nix ecosystem's
        infrastructure, and projects implementing the purely functional
        deployment model.
      </p>
      <p>
        In particular, the foundation supports Nix, Nixpkgs, NixOS, and
        operates:
      </p>
      <ul class="list-disc ml-4">
        <li>
          <a href="https://cache.nixos.org"> cache.nixos.org</a>
           - the NixOS binary cache, containing over 120TB of prebuilt Nix
          packages.
        </li>
        <li>
          <a href="https://hydra.nixos.org"> hydra.nixos.org</a>
           - a Nix build farm, consisting of hundreds of macOS, x86-64 (Linux)
          and aarch64 (Linux) build cores. Hydra executes over 350,000 builds
          each week.
        </li>
        <li>
          <a href="/community/event-funding"> Event Funding</a>
        </li>
      </ul>
      <p>
        The NixOS Foundation is a registered non-profit organisation at the
        Chamber of commerce (Kamer van Koophandel) in Utrecht, The Netherlands.
        The KvK number is <code>63520583</code>.
      </p>
      <p>
        You can contact the foundation by writing an email to <a
          href="mailto:foundation@nixos.org">foundation@nixos.org</a
        >.
      </p>
    </div>
  </Container>
</Layout>
<script>
  const boxes = document
    .getElementById("rfc-diagram")
    .getElementsByTagName("rect");
  const diagram = document.getElementById("rfc-diagram");
  const durationMiliseconds = 1500;
  const baseActivationClasses = ["stroke-nix-blue"];
  const successActivationClasses = ["stroke-nix-green"];
  const failureActivationClasses = ["stroke-nix-orange", "opacity-50"];
  const fadedActivationClasses = ["opacity-50"];
  const timeline = [
    {
      element: boxes[9], // New Submission
      index: 0,
      classes: baseActivationClasses,
    },
    {
      element: boxes[8], // Nomination Phase
      index: 1,
      classes: baseActivationClasses,
    },
    {
      element: boxes[7], // Discussion Phase
      index: 2,
      classes: baseActivationClasses,
    },
    {
      element: boxes[0], // Final Comment Phase
      index: 3,
      classes: baseActivationClasses,
    },
    {
      element: boxes[3], // Submission Rejected
      index: 4,
      classes: failureActivationClasses,
    },
    {
      element: boxes[1], // New Submission 2
      index: 4,
      classes: fadedActivationClasses,
    },
    {
      element: boxes[5], // FCP Canceled
      index: 4,
      classes: failureActivationClasses,
    },
    {
      element: boxes[2], // Refine Submission
      index: 4,
      classes: fadedActivationClasses,
    },
    {
      element: boxes[4], // Submission Accepted
      index: 4,
      classes: successActivationClasses,
    },
  ];
  let isAnimating = false;

  timeline.forEach((box) => {
    box.element.classList.add("transition-all", "duration-500", "ease-in");
  });

  let highestIndex = 0;
  timeline.forEach((box) => {
    if (box.index > highestIndex) {
      highestIndex = box.index;
    }
  });

  function triggerAnimation() {
    // prevent multiple animations at the same time
    if (isAnimating) {
      return;
    }
    isAnimating = true;
    setTimeout(
      () => {
        isAnimating = false;
      },
      (highestIndex + 1) * durationMiliseconds,
    );

    // trigger animation on each box
    timeline.forEach((box) => {
      setTimeout(() => {
        box.element.classList.add(...box.classes);
      }, box.index * durationMiliseconds);
    });
  }

  const activatorObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (isAnimating || !entry.isIntersecting) {
          return;
        }
        triggerAnimation();
      });
    },
    {
      threshold: 1,
    },
  );
  const deactivatorObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (isAnimating || entry.isIntersecting) {
          return;
        }
        timeline.forEach((box) => {
          box.element.classList.remove(...box.classes);
        });
      });
    },
    {
      threshold: 0,
    },
  );
  activatorObserver.observe(diagram);
  deactivatorObserver.observe(diagram);
</script>
