---

import Layout from '../layouts/Layout.astro';
import CodeBlock from "../components/layout/CodeBlock.astro";
import CodeInline from "../components/layout/CodeInline.astro";
import Container from "../components/layout/Container.astro";
import DownloadHeader from "../components/layout/DownloadHeader.astro";
import PageHeader from "../components/layout/PageHeader.astro";
import Tabs from "../components/layout/Tabs.astro";
import Button from "../components/ui/Button.astro";

const nixLinuxMultiUserInstall = [
  {"shellPrompt":"$", "code":" sh <(curl -L https://nixos.org/nix/install) --daemon" },
];
const nixLinuxSingleUserInstall = [
  {"shellPrompt":"$", "code":" sh <(curl -L https://nixos.org/nix/install) --no-daemon" },
];
const nixMacOSMultiUserInstall = [
  {"shellPrompt":"$", "code":" sh <(curl -L https://nixos.org/nix/install)" },
];
const nixWSL2MultiUserInstall = [
  {"shellPrompt":"$", "code":" sh <(curl -L https://nixos.org/nix/install) --daemon" },
];
const nixWSL2SingleUserInstall = [
  {"shellPrompt":"$", "code":" sh <(curl -L https://nixos.org/nix/install) --no-daemon" },
];
const nixDockerInstallInstruction1 = [
  {"shellPrompt":"$", "code":" docker run -it nixos/nix" },
];
const nixDockerInstallInstruction2 = [
  {"shellPrompt":"$", "code":" mkdir workdir" },
  {"shellPrompt":"$", "code":" docker run -it -v $(pwd)/workdir:/workdir nixos/nix" },
];
const nixDockerInstallInstruction3 = [
  {"shellPrompt":"$", "code":" git clone --depth=1 https://github.com/NixOS/nixpkgs.git" },
  {"shellPrompt":"$", "code":" docker run -it -v $(pwd)/nixpkgs:/nixpkgs nixos/nix" },
  {"shellPrompt":"docker>", "code":" nix-build -I nixpkgs=/nixpkgs -A hello" },
  {"shellPrompt":"docker>", "code":" find ./result # this symlink points to the build package" },
];

---

<Layout title="Download">
  <PageHeader text="Download" />

  <DownloadHeader title="Nix: the package manager" currentVersion="2.19.1" />

  <Tabs class="" class:list={['']}>
    <Fragment slot="tab-1">Linux</Fragment>
    <Fragment slot="tab-2">MacOS</Fragment>
    <Fragment slot="tab-3">Windows (WSL2)</Fragment>
    <Fragment slot="tab-4">Docker</Fragment>
    <Fragment slot="tab-5">More ...</Fragment>

    <Fragment slot="panel-1">
      <div class="flex flex-col justify-center gap-4 font-light">
        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Multi-user installation (recommended)
        </h3>
        <p>
          Install Nix via the
          <span class="font-bold">recommended </span>
          <a href="/manual/nix/stable/installation/multi-user">multi-user installation</a>:
        </p>
        <CodeBlock lines={nixLinuxMultiUserInstall} />
        <p>
          We recommend the multi-user install if you are on Linux running systemd,
          with SELinux disabled and you can authenticate with <CodeInline>sudo</CodeInline>.
        </p>
        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Single-user installation
        </h3>
        <p>
          Install Nix via the
          <a href="/manual/nix/stable/installation/single-user">single-user installation</a>:
        </p>
        <CodeBlock lines={nixLinuxSingleUserInstall} />
        <p>
          Above command will perform a single-user installation of Nix,
          meaning that <CodeInline>/nix</CodeInline> is owned by the invoking user.
          You should run this under your usual user account,
          not as <CodeInline>root</CodeInline>.
          The script will invoke  <CodeInline>sudo</CodeInline> to create <CodeInline>/nix</CodeInline> if it doesn’t already exist.
        </p>

        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Which type of installation should you choose?
        </h3>
        <p>
          This depends on your requirements, but here is a short list of reasons why <span class="font-bold">we recommend </span>
          <a href="/manual/nix/stable/installation/multi-user">multi-user installation</a>:
        </p>

        <h5 class="text-2xl font-bold text-neutral-500">Pros</h5>
        <ul class="list-disc ml-[1rem]">
          <li>Better build isolation (and that is what Nix is all about)</li>
          <li>Better security (a build can not write somewhere in your home)</li>
          <li>Sharing builds between users</li>
        </ul>

        <h5 class="text-2xl font-bold text-neutral-500">Cons</h5>
        <ul class="list-disc ml-[1rem]">
          <li>Requires <CodeInline>root</CodeInline> to run the daemon</li>
          <li>More involved installation (creation of <CodeInline>nixbld* users</CodeInline>, installing a systemd unit, ...</li>
          <li>Harder to uninstall</li>
        </ul>
      </div>
    </Fragment>

    <Fragment slot="panel-2">
      <div class="flex flex-col justify-center gap-4 font-light">
        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Multi-user installation
        </h3>
        <p>
          Install Nix via the <span class="font-bold">recommended </span>
          <a href="/manual/nix/stable/installation/multi-user">multi-user installation</a>:
        </p>
        <CodeBlock lines={nixMacOSMultiUserInstall} />
        <p>
          We believe we have ironed out how to cleanly support the read-only root on modern macOS.
          Please
          <a href="/manual/nix/stable/installation/installing-binary#macos-installation">consult the manual</a>
          on details what the installation script does.
        </p>
      </div>
    </Fragment>

    <Fragment slot="panel-3">
      <div class="flex flex-col justify-center gap-4 font-light">
        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Multi-user installation (Requires WSL with systemd enabled)
        </h3>
        <p>
          WSL versions 0.67.6 and above has systemd support.
          Follow
          <a href="https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/">Microsoft's systemd guide</a>
          to configure it, and then install Nix using:
        </p>
        <CodeBlock lines={nixWSL2MultiUserInstall} />
        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Single-user installation
        </h3>
        <p>
          Install Nix via the
          <a href="/manual/nix/stable/installation/single-user">single-user installation</a>:
        </p>
        <CodeBlock lines={nixWSL2SingleUserInstall} />
      </div>
    </Fragment>

    <Fragment slot="panel-4">
      <div class="flex flex-col justify-center gap-4 font-light">
        <p>
          Start a Docker shell with Nix:
        </p>
        <CodeBlock lines={nixDockerInstallInstruction1} />
        <p>
          Or start a Docker shell with Nix exposing a <CodeInline>workdir</CodeInline> directory:
        </p>
        <CodeBlock lines={nixDockerInstallInstruction2} />
        <p>
          The <CodeInline>workdir</CodeInline> example from above can be also used to start hacking on nixpkgs:
        </p>
        <CodeBlock lines={nixDockerInstallInstruction3} />
      </div>
    </Fragment>

    <Fragment slot="panel-5">
      <div class="flex flex-col justify-center gap-4 font-light">
        <p>
          The following release items are also available:
        </p>
        <ul class="list-disc ml-[1rem]">
          <li>
            <a href="/manual/nix/stable/release-notes/rl-2.19">Release notes</a>
          </li>
          <li>
            <a href="/manual/nix/stable">Manual</a>.
            Please read the <a href="/manual/nix/stable/quick-start">“Quick Start” section of the manual</a>
            for an overview of how to install and use Nix.
          </li>
          <li>
            Old releases are <a href="https://releases.nixos.org/?prefix=nix">also available</a>.
          </li>
        </ul>
      </div>
    </Fragment>
  </Tabs>

  <DownloadHeader title="NixOS: the Linux distribution" currentVersion="23.05" />

  <Tabs class="" class:list={['pb-16']}>
    <Fragment slot="tab-1">ISO image</Fragment>
    <Fragment slot="tab-2">VirtualBox</Fragment>
    <Fragment slot="tab-3">Amazon EC2</Fragment>
    <Fragment slot="tab-4">More ...</Fragment>

    <Fragment slot="panel-1">
      <div class="flex flex-col justify-center gap-4 font-light">

        <p>
          You can install NixOS on physical hardware by burning one of the CD images onto a blank CD/DVD disk, or
          <a href="https://nixos.org/nixos/manual/index.html#sec-booting-from-usb">by copying it onto a USB stick</a>.
          For <span class="font-bold">installation instructions</span>, please see the
          <a href="/manual/nixos/stable">manual</a>.
        </p>

        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Graphical ISO image
        </h3>

        <p>
          The graphical installation ISO image
          <span class="font-bold">
            contains the graphical NixOS installer
          </span>
          as well as a
          <span class="font-bold">
            Desktop Environment
          </span>
          and several applications.
          It’s a <em>live CD</em>, so it allows you to get an impression of NixOS (and the Nix package manager) without installing it.
        </p>

        <div class="grid grid-flow-row gap-6 ml-[1rem] mb-[1rem]">
          <div>
            <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-x86_64-linux.iso">
              Download (GNOME, 64-bit Intel/AMD)
            </Button>
            <span class="mx-[0.5rem]">
              <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-x86_64-linux.iso.sha256">(SHA-256)</a>
            </span>
            <span class="bg-nixdarkgreen rounded font-bold text-white text-sm px-1">
              Recommended for most users
            </span>
          </div>

          <div>
            <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-aarch64-linux.iso">
              Download (GNOME, 64-bit ARM)
            </Button>
            <span class="mx-[0.5rem]">
              <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-gnome-aarch64-linux.iso.sha256">(SHA-256)</a>
            </span>
          </div>

          <div>
            <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-x86_64-linux.iso">
              Download (Plasma Desktop, 64-bit Intel/AMD)
            </Button>
            <span class="mx-[0.5rem]">
              <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-x86_64-linux.iso.sha256">(SHA-256)</a>
            </span>
          </div>

          <div>
            <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-aarch64-linux.iso">
              Download (Plasma Desktop, 64-bit ARM)
            </Button>
            <span class="mx-[0.5rem]">
              <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-plasma5-aarch64-linux.iso.sha256">(SHA-256)</a>
            </span>
          </div>
        </div>

        <p>
          Note that while the image itself only comes in GNOME and Plasma variations,
          the included installer also allows installing various other desktops,
          or installing without a desktop.
        </p>

        <h3 class="text-2xl font-bold text-nixdarkblue pb-2">
          Minimal ISO image
        </h3>

        <p>
          The minimal installation ISO image
          <span class="font-bold">
            does not contain the graphical user interface,
          </span>
          and is therefore a lot smaller.
          You have to
          <a href="/manual/nixos/stable/#ch-installation">run the installer from the console</a>.
          It contains a number of rescue tools.
        </p>

        <div class="grid grid-flow-row gap-6 ml-[1rem] mb-[1rem]">
          <div>
            <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-x86_64-linux.iso">
              Download (64-bit Intel/AMD)
            </Button>
            <span class="mx-[0.5rem]">
              <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-x86_64-linux.iso.sha256">(SHA-256)</a>
            </span>
          </div>

          <div>
            <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-aarch64-linux.iso">
              Download (64-bit ARM)
            </Button>
            <span class="mx-[0.5rem]">
              <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-aarch64-linux.iso.sha256">(SHA-256)</a>
            </span>
          </div>

          <div>
            <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-i686-linux.iso">
              Download (32-bit Intel/AMD)
            </Button>
            <span class="mx-[0.5rem]">
              <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-minimal-i686-linux.iso.sha256">(SHA-256)</a>
            </span>
          </div>
        </div>

      </div>
    </Fragment>

    <Fragment slot="panel-2">
      <div class="flex flex-col justify-center gap-4 font-light">

        <div class="bg-nixlightorange text-nixdarkerorange p-6 rounded-2xl">
          <span class="font-bold">
            This is a demo appliance
          </span>
          for VirtualBox (in OVA format).
        </div>

        <p>
          VirtualBox image includes the
          <span class="font-bold">
            Plasma Desktop
          </span>
          (was KDE) as well as
          <span class="font-bold">
            the VirtualBox guest additions.
          </span>
        </p>

        <div class="my-[1rem]">
          <Button color="semidarkblue" size="sm" href="https://channels.nixos.org/nixos-23.05/latest-nixos-x86_64-linux.ova">
            Download (64-bit)
          </Button>
          <span class="mx-[0.5rem]">
            <a href="https://channels.nixos.org/nixos-23.05/latest-nixos-x86_64-linux.ova.sha256">(SHA-256)</a>
          </span>
        </div>

        <h3 class="text-2xl font-bold text-nixdarkblue pb-1">
          To use it
        </h3>

        <ul class="list-disc ml-[1rem]">
          <li>
            Download the OVA file using the button above.
          </li>
          <li>
            Open VirtualBox.
          </li>
          <li>
            Run <CodeInline>File → Import Appliance</CodeInline> from the menu.
          </li>
          <li>
            Select previously downloaded OVA file.
          </li>
          <li>
            Click <CodeInline>Import</CodeInline>.
          </li>
          <li>
            You can then start the virtual machine.
          </li>
          <li>
            You can log in as
            <span class="font-bold">user </span>
            <CodeInline>demo</CodeInline>,
            <span class="font-bold">password </span>
            <CodeInline>demo</CodeInline>.
          </li>
          <li>
            To obtain a root shell, run
            <CodeInline>sudo -i</CodeInline>
            in the terminal
            (<CodeInline>konsole</CodeInline>).
          </li>
        </ul>

      </div>
    </Fragment>

  </Tabs>

</Layout>
