---
import { cva, type VariantProps } from 'class-variance-authority';

import SHA from '@/components/ui/SHA.astro';
import Link from '@/components/util/Link.astro';
import { Icon } from 'astro-icon/components';

export const buttonVariants = cva('font-bold transition-colors text-center', {
  variants: {
    color: {
      orange:
        'border-accent-persian-orange border-3 text-primary-black hover:bg-accent-persian-orange-95',
      lightblue:
        'border-secondary-afghani-blue border-3 hover:bg-secondary-afghani-blue-95 text-primary-black',
      semidarkblue:
        'bg-secondary-afghani-blue-45 hover:bg-secondary-afghani-blue-25 text-primary-white',
      green:
        'border-accent-zambian-green border-3 text-primary-black hover:bg-accent-zambian-green-95 hover:bg-opacity-25',
      'white-borders':
        'border-3 border-primary-white text-primary-white hover:bg-secondary-afghani-blue',
      white:
        'bg-primary-white hover:bg-secondary-afghani-blue-85 !text-secondary-afghani-blue-45',
      nixblue:
        'bg-secondary-afghani-blue hover:bg-secondary-afghani-blue-45 text-primary-white',
    },
    size: {
      sm: 'px-10 py-2.5 rounded-3xl',
      'sm-mobfull': 'px-8 py-2.5 rounded-3xl md:w-auto w-full',
      lg: 'px-10 py-2.5 rounded-2xl md:px-14 md:py-4 w-full md:w-auto',
      'log-nopadding': 'px-0 pl-6 py-2.5 md:py-4 rounded-2xl w-full',
      'lg-full': 'px-10 py-4 rounded-2xl block',
    },
  },
});

interface Props extends VariantProps<typeof buttonVariants> {
  href?: string | null;
  type?: 'button' | 'submit' | 'reset';
  classList?: string[];
  shaHref?: string | null;
  shaClassList?: string[];
  shaText?: string;
  label?: string;
  nonPublic?: boolean;
  icon?: string;
}

const {
  color = 'orange',
  size = 'sm',
  href = null,
  type = 'button',
  classList = '',
  shaHref = null,
  shaClassList = [],
  shaText = '',
  label,
  nonPublic = false,
  icon = undefined,
  ...other
} = Astro.props;

const setIconSize = (size: string) => {
  switch (size) {
    case 'sm':
      return 24;
    case 'sm-mobfull':
      return 24;
    case 'lg':
      return 32;
    case 'log-nopadding':
      return 32;
    case 'lg-full':
      return 32;
    default:
      return 32;
  }
};
---

{
  href ? (
    <>
      <Link
        href={href}
        class:list={[
          'no-underline!',
          buttonVariants({ color, size }),
          nonPublic && 'inline-flex items-center gap-2',
          classList,
          icon && 'flex items-center justify-start gap-4',
          !icon && 'flex items-center justify-center gap-1',
        ]}
        {...other}
      >
        {icon && <Icon name={icon} size={setIconSize(size)} />}
        {nonPublic && <Icon name="mdi:lock" />}
        {label || <slot />}
        {!icon && <Icon name="mdi:chevron-right" size={setIconSize(size)} />}
      </Link>
      {shaHref && (
        <SHA href={shaHref} classList={shaClassList}>
          {shaText}
        </SHA>
      )}
    </>
  ) : (
    <button
      type={type}
      class:list={[
        'cursor-pointer no-underline!',
        buttonVariants({ color, size }),
        nonPublic && 'inline-flex items-center gap-2',
        classList,
        icon && 'flex items-center justify-start gap-4',
      ]}
      {...other}
    >
      {icon && <Icon name={icon} />}
      {label || <slot />}
    </button>
  )
}
