---
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import flakeWhite from "../assets/image/flake-white.svg";
import Container from "../components/layout/Container.astro";
const footerMenu = await getEntry('menus', 'footer');
---

<footer>
  <div class="bg-nixdarkerblue text-white font-light clear-both">
    <Container>
      <div class="flex flex-col sm:flex-row flex-wrap py-8 gap-y-8">
        {footerMenu.data.sections.map((menu) =>(
            <div class="basis-1/2 lg:basis-1/4">
              <h4 class="text-xl font-bold text-nixdarkblue mb-4">{menu.name}</h4>
              <ul class="space-y-2 font-extralight">
                {menu.items.map((item) => (
                    <li><a href={item.link}>{item.name}</a></li>
                ))}
              </ul>
            </div>
        ))}
      </div>
      <hr class="border-nixlightblue">
      <div class="flex flex-col lg:flex-row flex-wrap py-8 gap-8 lg:gap-0 font-extralight">
        <div class="basis-1/2 flex flex-row flex flex-row gap-2">
          <Image src={flakeWhite} alt="Nix Logo White" class="inline-block w-16 h-16" />
          <div class="flex flex-col justify-center">
            <div>Copyright © 2023 NixOS contributors</div>
            <a href="https://github.com/NixOS/nixos-homepage/blob/master/LICENSES/CC-BY-SA-4.0.txt">
              <abbr title="Creative Commons Attribution Share Alike 4.0 International">
                CC-BY-SA-4.0
              </abbr>
            </a>
          </div>
        </div>
        <hr class="lg:hidden border-nixlightblue">
        <div class="basis-1/2 flex flex-row justify-between lg:justify-end gap-4 font-extralight">
          <h4 class="my-auto">Connect with us:</h4>
          <div class="my-auto flex flex-row gap-2">
            {footerMenu.data.social.map((item) =>(
                <a href={item.link} aria-label={`Connect with us on ${item.name}`}>
                  <Icon alt={item.name} class="w-8" pack="mdi" name={item.name.toLowerCase()} />
                </a>
            ))}
          </div>
        </div>
      </div>
    </Container>
  </div>
</footer>
