---
import {Icon} from "astro-icon";
import { Image } from 'astro:assets';
import nixosLogoNoText from "../assets/image/nixos-logo-notext.svg";
import nixosLogoText from "../assets/image/nixos-logo-text.svg";
import { getEntry } from 'astro:content';
import Container from "../components/layout/Container.astro";
const headerMenu = await getEntry('menus', 'header');

const navbarItemStyle = "text-center text-nixsemidarkblue md:text-black border-b-transparent hover:border-b-nixlightblue border-b-4 bg-nixlighterblue md:bg-transparent";
---

<header class="bg-white text-black font-extralight drop-shadow-[0_8px_2px_rgba(0,0,0,0.2)]">
    <Container class="flex flex-col md:flex-row justify-between md:items-center">
        <div class="text-4xl font-normal gap-2 flex justify-between md:justify-start items-center my-2">
            <a href="/" class="select-none gap-2 flex justify-between md:justify-start items-center">
                <Image class="h-16 w-auto" src={nixosLogoNoText} alt="Nixos Logo" />
                <Image class="h-16 block md:hidden xl:block w-auto" src={nixosLogoText} alt="Nixos Logo Text" />
            </a>
            <div class="bg-nixlightblue block md:hidden p-4 rounded-lg" id="navigation-toggle" tabindex="2">
                <span class="bg-white block w-8 h-1 mb-1.5"></span>
                <span class="bg-white block w-8 h-1 mb-1.5"></span>
                <span class="bg-white block w-8 h-1"></span>
            </div>
        </div>
        <div class="flex pb-4 md:pb-0 flex-col md:flex-row gap-0.5 md:gap-5 md:flex" id="navbar-menu">
            {headerMenu.data.items.map((item) => (
                <a class={`pt-8 pb-6 ${navbarItemStyle}`} href={item.link}>{item.name}</a>
            ))}
            <a target="_blank" rel="noreferrer noopener" class={`pt-8 md:pt-7 pb-6 ${navbarItemStyle}`} href="https://search.nixos.org" arial-label="Nixos package and options search">
                <Icon alt="Search" class="h-8 text-nixdarkblue hidden md:block" pack="mdi" name="search" />
                <span class="inline-block md:hidden">Search</span>
            </a>
        </div>
    </Container>
</header>

<script lang="ts">
    const navigationToggle= document.getElementById("navigation-toggle");
    const navbarMenu = document.getElementById("navbar-menu");

    function toggleMenu() {
        navbarMenu.classList.toggle("hidden");
        navbarMenu.classList.toggle("flex")
    }
    toggleMenu()

    navigationToggle.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
            toggleMenu()
        }
    });

    navigationToggle.addEventListener("click", () => toggleMenu());
</script>
