---
import { SEO } from 'astro-seo';
import { getImage } from 'astro:assets';
import { getEntry } from 'astro:content';

import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';

import '@/styles/base.css';

import faviconSvgSrc from '@/assets/image/flake-blue.svg';

const {
  title = 'Nix &amp; NixOS | Declarative builds and deployments',
  description = 'Nix is a tool that takes a unique approach to package management and system configuration. Learn how to make reproducible, declarative and reliable systems.',
} = Astro.props;

const blogMenu = await getEntry('menus', 'blog');

const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' });

const headLinks = [
  {
    rel: 'sitemap',
    href: '/sitemap-index.xml',
  },
  {
    rel: 'icon',
    href: faviconSvg.src,
    type: 'image/svg+xml',
  },
  {
    rel: 'alternate',
    type: 'application/rss+xml',
    title: 'Complete RSS Feed',
    href: '/blog/feed.xml',
  },
];

const headFeedLinks = blogMenu.data.map((e) => {
  return {
    rel: 'alternate',
    type: 'application/rss+xml',
    title: `${e.title} RSS Feed`,
    href: `/blog/${e.id}-rss.xml`,
  };
});
---

<html lang="en">
  <head>
    <SEO
      title={title}
      titleTemplate={Astro.url.pathname === '/' ? title : '%s | Nix & NixOS'}
      titleDefault={title}
      description={description}
      charset="utf-8"
      extend={{
        link: headLinks.concat(headFeedLinks),
        meta: [
          {
            name: 'viewport',
            content: 'width=device-width',
          },
          {
            name: 'generator',
            content: Astro.generator,
          },
          {
            name: 'google-site-verification',
            content: 'ir-07nYvo3u3x_VmkTO1wCfYJ8uC-SrVBGR7hZgqPSE',
          },
          {
            httpEquiv: 'Content-Type',
            content: 'text/html; charset=utf-8',
          },
        ],
      }}
    />
  </head>
  <body class="flex min-h-screen flex-col bg-white text-gray-950">
    <Header />

    <main class="flex-1">
      <slot />
    </main>

    <Footer />

    <script>
      import 'htmx.org';

      // Fonts
      import '@fontsource-variable/overpass';
      import '@fontsource-variable/fira-code';
      import '@fontsource-variable/roboto-flex/wdth.css';
    </script>

    <style>
      @font-face {
        font-family: 'Roboto Flex Variable';
      }
    </style>
  </body>
</html>
