---
import { Image } from 'astro:assets';

import Card from '@/components/ui/Card.astro';

interface Props {
  title: string;
  date: string;
  description: string;
  href: string;
  imagePath?: string;
}

const { title, date, description, href, imagePath = null } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-col gap-1 !text-white !no-underline"
>
  {
    imagePath && (
      <Card class="mb-4 flex h-48 justify-center bg-white shadow-none">
        <Image src={imagePath} alt={`${title} Logo`} width="200" height="200" />
      </Card>
    )
  }
  <div class="mb-2">
    <h4 class="font-heading text-lg font-bold">{title}</h4>
    <p class="text-xs font-medium">{date}</p>
  </div>

  <div class="leading-relaxed">{description}</div>
  <div class="text-right font-bold">
    <span class="underline">Read more...</span>
  </div>
</a>
