---
interface Props {
  number: string;
  imageLocation?: 'left' | 'right';
  imageSrc: string;
  heading: string;
  subHeading: string;
  tags: Array<{ href: string | null; text: string }>;
  paragraphs: string[];
  emphasis?: string | null;
}

const {
  number = 0,
  imageLocation = 'left',
  imageSrc,
  imageAlt = 'Timeline Image',
  ...textProps
} = Astro.props;

import TimelineCenter from './TimelineCenter.astro';
import TimelineText from './TimelineText.astro';

const textCommonClasses = 'flex flex-col justify-start font-light gap-4';
const imageCommonClasses = 'px-12 mx-auto my-12 w-10/12 md:w-full';
---

{
  imageLocation === 'left' ? (
    <>
      <div class="justify-self-center md:justify-self-end">
        <img src={imageSrc} alt={imageAlt} class:list={[imageCommonClasses]} />
      </div>
      <div class:list={[textCommonClasses, 'text-left', 'relative']}>
        <TimelineCenter number={number} />
        <TimelineText location="right" {...textProps} />
      </div>
    </>
  ) : (
    <>
      <div
        class:list={[
          textCommonClasses,
          'order-last md:order-first',
          'text-left md:text-right',
        ]}
      >
        <TimelineText location="left" {...textProps} />
      </div>
      <div class="relative justify-self-center md:justify-self-start">
        <TimelineCenter number={number} />
        <img src={imageSrc} alt={imageAlt} class:list={[imageCommonClasses]} />
      </div>
    </>
  )
}
