---
interface Props {
  heading: string;
  subHeading: string;
  tags: Array<{ href: string | null; text: string }>;
  paragraphs: string[];
  emphasis?: string | null;
  location?: 'left' | 'right';
}

const {
  heading,
  subHeading,
  tags,
  paragraphs,
  emphasis = null,
  location = 'left',
} = Astro.props;

import Headline from '@/components/ui/typography/Headline.astro';
import Paragraph from '@/components/ui/typography/Paragraph.astro';
import Tag from '../../ui/Tag.astro';
---

<Headline level={2} variant="blue" class="mt-3">
  {heading}
</Headline>
<Paragraph size="lg">
  {subHeading}
</Paragraph>
<div
  class="flex flex-wrap gap-1"
  class:list={[
    {
      'justify-start md:justify-end': location === 'left',
      'justify-start': location === 'right',
    },
  ]}
>
  {tags.map((tag) => <Tag href={tag.href}>{tag.text}</Tag>)}
</div>
{
  paragraphs.map((paragraph, idx, array) => {
    return (
      <Paragraph class:list={[idx + 1 === array.length && 'mb-3']}>
        {paragraph}
        {idx + 1 === array.length && emphasis && (
          <>
            &nbsp;<span class="font-bold">{emphasis}</span>
          </>
        )}
      </Paragraph>
    );
  })
}
